/* seleção de elemento */
h3 {
    font-family: 'Courier New', Courier, monospace;
    color:dodgerblue
}

/* seleção de id */
#tabela {
    text-align: center;
    background-color: dodgerblue;
}

/* seleção de classe */
.negrito {
    font-weight: bold;
}